body{
    font-family: 'Montserrat', sans-serif;
}
/* navegacao*/

.cabecalho {
    width: 98.5%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 5, 8);
    padding: 10px;
}

.cabecalho .nave {
    font-size: 1.2rem;
    margin: 0 0.5rem;
    color: azure;
    text-decoration: none;
    cursor: pointer;
}

.nave:hover {
    text-decoration: underline;
}

.cabecalho .logo {
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
}


/* Home */
.home {
    width: 100%;
    height: 92vh;
    background-color:  #000000;
    color: rgb(173, 255, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.home h1 {
    font-size: 4.5rem;
}

.home h2 {
    border-right: 2px solid rgba(173, 255, 47, .75);
    font-size: 4.5rem;
}


/* Animação home */
.hAnima1 {
    animation: digitandoh 3s steps(40) 0s normal, Cursor 300ms 0s infinite normal;
}

.hAnima2 {
    animation: digitandoh 3s steps(40) 0s normal, Cursor 300ms 3s infinite normal;
}

@keyframes digitandoh {
    from {
        border-right: 2px solid rgba(173, 255, 47, .75);
    }
    to {
        border-right: 2px solid rgba(173, 255, 47, .75);
    }
}

@keyframes Cursor {
    from {
        border-right-color: rgba(173, 255, 47, .75);
    }
    to {
        border-right-color: transparent;
    }
}

/* sobre mim */
.sobreMim {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url(../img/sobreMim/background-sobreMim.gif);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}



.textoSobreMim-titulo{  
   
    height: 30%;
    font-size: 3.5rem;
    align-items: center;
    display: flex;
    padding: 2%  2%;
   
}

.textoSobreMim-titulo-texto{
    width: 50%;
    height: 70%;
    color: azure;
    padding: 2%  2%;

}
.canvasSobreMim{
    background-color: white;
}

/* sobre mim animacao */
@keyframes pular{
    from{
        position: relative;
        top: -8px;
        color: rgb(173, 255, 47);
       
    }
    to{
        position: relative;
        top: 0px;
    }

}

.sobreMimh2:hover{
    animation: pular 500ms 0s normal;
}
#textoSobreMim-P:hover{
    color: rgb(173, 255, 47);
}
